<section class="ver-vaga-container">    
        <div>            
            <img src="/img/company.png" alt="company">
            <h2>vaga para {{vaga.dataValues.titulo}}</h2>
            <p>descricao da vaga: {{vaga.dataValues.descricao}}</p>
            <h2>O salario informado é: R${{vaga.dataValues.salario}} </h2>
            <p>Para trabalhar na <span> {{vaga.dataValues.empresa}} </span> envie um email para <a href="mailto:{{vaga.dataValues.email}}">{{vaga.dataValues.email}}</p>            
        </div>    
                
</section>